@keyframes show {
  from { visibility: hidden; }
  to { visibility: visible; }
}

.interactive {
  position: absolute;
  width: 35%;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.interactive .patient {
  background: #4b5d91cb;
  padding: 10px 15px;
  border-radius: 30px;
  animation: slideInUp .3s 1 linear;
}

.interactive .translation {
  background: #4b5d91;
  padding: 10px 15px;
  border-radius: 30px;
  animation: slideInDown .3s 1 linear;
}

.interactive button {
  animation: show 0s both;
  animation-delay: 1s;
}